@import '~bootstrap-scss';

.fullWidth {
  width: 100%;
}

.progress {
  background-color: #555;
}

td {
  vertical-align: middle !important;
  text-align: right;
}

th {
  text-align: center;
  vertical-align: bottom !important;
}

button.link-like {
  border: 0;
  background: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}