@import '~bootstrap-scss';
@import '~tachyons-custom';

$iconSize: 28px;

.fullWidth {
  width: 100%;
}

.progress {
  background-color: #555;
  min-width: 175px;
}

.results {
  max-height: 300px;
  overflow: auto;
}

table.calculations, table.recipes, table.shopping-list {
  tbody {
    tr {
      &.focused {
        background: #def;
      }
    }

    td {
      vertical-align: middle;
      text-align: center;

      input {
        text-align: center;
      }
    }
  }
  
  thead {
    th {
      vertical-align: bottom;
      text-align: center;
    }

    tr {
      &.section-head {
        background: #def;
      }
    }
  }
}

table.calculations {
  tbody {
    td {
      &:nth-child(2) {
        max-width: 100px;
      }

      &:nth-child(3), &:nth-child(6) {
        max-width: 120px;
      }
    }
  }
}

.shopping-list {
  .owned, .owned:hover {
    color: #687;
    font-style: italic;
    background: #efd;

    &:nth-child(2n + 1) {
      background: #e0f0d0;
    }
  }
}

.margin-left {
  margin-left: .25em;
}

.numeric-entry {
  width: 140px;
}

// noticed problem with Tachyons for the modal sizing...
.modal-open {
  --height-1: auto;
  --height-2: auto;
  --height-3: auto;
  --height-4: auto;
  --height-5: auto;
}

.lodestoneResults {
  max-height: 300px;
  overflow: auto;

  > div {
    padding: 0.25em;
  }

  label {
    padding: 0;
    margin: 0;
  }
}

.avatar {
  height: $iconSize;
  width: $iconSize;
  border-radius: 5em;
  border: 1px solid #777;
  margin: 0;
  padding: 0;
}

.myList {
  border: 1px solid #000;
  width: 300px;
  height: 150px;
  overflow: auto;
  top: 3.5em !important;
  background: #fff;
  padding: 0.5em;
  font-size: 0.85em;
  border-radius: 1em;
}

.recipe-tab {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 1em;
}

.space-between {
  > * {
    margin: 0 0.25em
  }
}

.craftingClassSelections {
  padding: 0;
  margin: 0;
  height: $iconSize * 1.5;
  width: $iconSize * 1.5;

  > img {
    padding: .2em;
  }
}

/* Absolute Center Spinner */
.loading-overlay {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.xiv-icon-badge {
  position: relative;
  bottom: 1em;
  left: 2em;
}
