@import '~bootstrap-scss';
@import '~tachyons-custom';

$iconSize: 28px;

.fullWidth {
  width: 100%;
}

.progress {
  background-color: #555;
  min-width: 175px;
}

.character-icon {
  height: $iconSize;
  width: $iconSize;
  border-radius: 25px;
  border: 1px solid $text-muted;
  margin-left: 0.5em;
}

.results {
  max-height: 300px;
  overflow: auto;
}

table.calculations {
  tbody {
    td {
      vertical-align: middle;
      text-align: center;

      input {
        text-align: center;
      }
    }
  }
  
  thead {
    th {
      vertical-align: bottom;
      text-align: center;
    }
  }
}

.margin-left {
  margin-left: .25em;
}

.numeric-entry {
  width: 125px;
}

// noticed problem with Tachyons for the modal sizing...
.modal-open {
  --height-1: auto;
  --height-2: auto;
  --height-3: auto;
  --height-4: auto;
  --height-5: auto;
}
